<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<springProperty scope="context" name="url" source="splunk.url" />
	<springProperty scope="context" name="token" source="splunk.token" />
	<springProperty scope="context" name="index" source="splunk.index" />
	<springProperty scope="context" name="batchSizeCount" source="splunk.batch-size-count" />

	<jmxConfigurator />

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="com.accenture.dcsc" level="TRACE" />

	<springProfile name="!local">
		<appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
			<url>${url}</url>
			<token>${token}</token>
			<index>${index}</index>
			<disableCertificateValidation>true</disableCertificateValidation>
			<batch_size_count>${batchSizeCount}</batch_size_count>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%msg</pattern>
			</layout>
		</appender>

		<logger name="splunk.logger" additivity="false" level="INFO">
			<appender-ref ref="http" />
		</logger>
	</springProfile>

	<springProfile name="local">
		<logger name="splunk.logger" additivity="false" level="OFF">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
</configuration>